
@model List<Wastes.ViewModels.WasteVM>
<table class="table">
    <tr>
        <th>Номер</th>
        <th>Текущо количество</th>
        <th>Тип</th>
        <th>Статус</th>
    </tr>
    @for (int i = 0; i < Model.Count(); i++)
            {
        <tr>
            @Html.HiddenFor(x => Model[i].Id)
            <td>@Model[i].Number</td>
            <td>@Model[i].Quantity</td>
            <td>@Model[i].Type</td>
            <td>@Model[i].Status</td>
            @*<td>@Html.CheckBoxFor(x => x[i].IsChecked)</td>*@
        </tr>
    }
    <tr></tr>
</table>

