@model Wastes.ViewModels.WasteVM
@{
    ViewBag.Title = Wastes.Resourses.Resource.CreateWaste;
}

@using (Html.BeginForm("CreateWaste", "Waste", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>@Wastes.Resourses.Resource.CreateWaste</h4>
        <hr />
        @Html.HiddenFor(x => x.Id)
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Number, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Number, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Quantity, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Types, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.TypeId, Model.Types, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Storages, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.PrimaryStorageId, Model.Storages, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" onclick="return confirm('@Wastes.Resourses.Resource.ConfirmDialogMsg');" class="btn btn-default" value="@Wastes.Resourses.Resource.Save" />
            </div>
        </div>
    </div>
}

